*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    background-color: #3B3A3A;
    width: 100%;
    height: 110px;
    align-items: center;
    justify-content: space-between;
    border-bottom: #575757 solid 1px;
}

header {
    position: relative;
    z-index: 500;
}
.menu {
    position: absolute;
    top: 120px;
    right: 10px;
    height: 336px;
    width: 328px;
    background: #3B3A3A;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #575757;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: none; /* Mantém o menu oculto por padrão */
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

.menu img{
    height: 7vh;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}



.menu ul li{
    display: flex;
    align-items: center;
    font-size: 24px; 
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.menu li {
    padding: 1.6vh;
    gap: 15px;
    cursor: pointer;
}

.menu li img{
    background-color: #575757;
    border-radius: 60px;
    padding: 5px;
}

.menu li:hover {
    background: #444;
}

.userMenu{
    height: 100vh;
}


header .logoT{
    padding-left: 4vh;
}

header .logoT img {
    height: 70px;
}

.descUserHeader{
    display: flex;
    align-items: center;
}
.descUserHeader img{
    height: 100px;
    width: 65px;
    object-fit: cover;
    border-radius: 60px; 
}


header .profileImg{
    display: flex;
    align-items: center;
    padding-right: 5vh;
}

header .profileImg img {
    height: 60px;
}
header p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: white;
    padding-right: 10px;
}

main{
    display: flex;
    background-color: #212121;
    height: 100vh;
    align-items: center;
    flex-direction: column;
}

.telaUser{
    display: flex;
    height: 90%;
    width: 55%;
    flex-direction: column;
    background-color: #212121;
    border: 1px solid #717171;
    border-radius: 10px;
    margin-top: 30px;
}

.headerTelaUser{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #717171;
    height: 8vh;
    width: 100%;
}

.headerTelaUser p{
    font-family: "Inter";
    font-weight: 500;
    font-size: 28px;
    color: white;
    margin: 12px;
}

.headerTelaUser .X{
    margin: 20px;
    height: 30px;
}

.textSettings{
    width: 30vh;
    border-right: 1px solid #717171;
    height: 100%;
}


.mainTelaUser{
    display: flex;
    height: 100%;
    width: 30vh;
    border-right: 1px solid #717171;
}


.selectCategoria{
    display: flex;
    align-items: center;
}

.selectCategoria img{
    height: 30px;
    width: 30px;
    margin: 10px;
}

.selectCategoria p{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
}

.barraLateral{
    display: flex;
    width: 30vh;
    flex-direction: column;
    padding-top: 40px;
}

.container{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.containerPerfil{
    width: 100%;
}
.mainPerfil{
    display: flex;
    width: 100%;
    height: 35%;
}

.headerMainPerfil{
    width: 100%;
}


.headerMainPerfil p{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
    margin-top: 45px;
    margin-left: 20px;
}

.headerMainPerfil img{
    height: 100px;
}

.Buttons{
    display: flex;
    width: 100%;
}
.inputUrl{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.Buttons img{
    margin-left: 40px;
    margin-right: 40px;
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 60px; 
}

.Buttons p{
    display: flex;
    margin: 10px;
}

.Buttons .inputUrl input {
    width: 95%;
    padding: 10px;
}

.Buttons input{
    background: #3B3A3A;
    border-bottom: 2px solid #000000; 
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 5px;
    outline: none;  
    height: 40px;
    width: 150px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}

.mainPerfilNome{
    width: 100%;
}

.mainPerfilNome input{
    width: 95%;
    height: 40px;
    background: #3B3A3A;
    border-bottom: 2px solid #000000; 
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    margin-left: 20px;
    margin-top: 5px;
    padding: 20px;
    border-radius: 5px;
    color: white;
}
.mainPerfilNome input::placeholder{
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 18px;

}

.mainPerfilNome p{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    margin-left: 20px;
}


.mainPerfilNomeUsuario{
    width: 100%;
}

.mainPerfilNomeUsuario input{
    width: 95%;
    height: 40px;
    background: #3B3A3A;
    border-bottom: 2px solid #000000; 
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    margin-left: 20px;
    margin-top: 5px;
    padding: 20px;
    border-radius: 5px;
    color: white;
    background-image: url('/SRC/imgs/assets/@.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 20px;
    padding-left: 40px;
}
.mainPerfilNomeUsuario input::placeholder{
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 18px;

}

.mainPerfilNomeUsuario p{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    margin-left: 20px;
}

.mainPerfilContainer{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.buttonSaveChanges{
    display: flex;
    justify-content: end;
    margin-right: 20px;
    margin-top: 100px;
}
.buttonSaveChanges button{
    height: 45px;
    width: 20vh;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    background: #3B3A3A;
    border-bottom: 2px solid #000000; 
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
}