*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: roboto;
    background-color: #212121;
}

header{
    display: flex;
    background-color: #3B3A3A;
    width: 100%;
    height: 110px;
    align-items: center;
    justify-content: space-between;
    border-bottom: #575757 solid 1px;
}

header {
    position: relative;
    z-index: 500;   
}
.menu {
    position: absolute;
    top: 120px;
    right: 10px;
    height: 336px;
    width: 328px;
    background: #3B3A3A;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #575757;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: none; /* Mantém o menu oculto por padrão */
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

.menu img{
    height: 7vh;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}   

.menu ul li{
    display: flex;
    align-items: center;
    font-size: 24px; 
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.menu li {
    padding: 1.6vh;
    gap: 15px;
    cursor: pointer;
}

.menu li img{
    background-color: #575757;
    border-radius: 60px;
    padding: 5px;
}

.menu li:hover {
    background: #444;
}

.userMenu{
    height: 100vh;
}


header .logoT{
    padding-left: 4vh;
}

header .logoT img {
    height: 70px;
}

.descUserHeader{
    display: flex;
    align-items: center;
}

header .profileImg{
    display: flex;
    align-items: center;
    padding-right: 5vh;
}

header .profileImg img {
    height: 60px;
}

header p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: white;
    padding-right: 10px;
}

main{
    display: flex;
    position: relative;
    background-color: #212121;
    align-items: center;
    flex-direction: column;
}

.postQuick{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 696px;
    height: 135px;
    margin-top: 3vh;
    background-color: #3B3A3A;
    border-radius: 10px;
    border: #575757 solid 1px;
}

.postQuick .container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.postQuick .conteudo {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 15px;
}

.postQuick .conteudo img {
    height: 60px;
}   

.inputPost {
    padding-left: 2vh;
}

.inputPost input {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 24px;
    background-color: #373333;
    width: 545px;
    height: 51px;
    padding-left: 30px;
    border-radius: 32px;
    border: none;
    outline: none; 
    color: white;
}

.inputPost input:focus {
    border:1px solid rgb(129, 129, 129);
} 

.publish{
    display: flex;
    width: 124px;
    height: 29px;
    justify-content: center;
    background-color: #EF3E58;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.publish button{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    text-decoration: none;
    cursor: pointer;
}
  
.postUsers {
    display: flex;
    width: 696px;
    margin-top: 3vh;
    background-color: #3B3A3A;
    border: #575757 1px solid;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.conteudoPost {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.conteudoPost .profileImg img {
    height: 60px;
}

.conteudoPost .imgPost {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.conteudoPost .imgPost img {
    width: 100%;
}

.infoUser{
    display: flex;
    align-items: center;
}
.userName p{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: white;
}

.datePost span{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: white;
}

.containerPost{
    margin-left: 1vh;
}

.conteudoPost{
    width: 85%;
    height: 90%;
    background-color: #3B3A3A;
}

.conteudoPost span {
    color: white;
    font-weight: 300;
}

.localPost {
    display: flex;
    align-items: center;
    margin-top: 0.2rem;
    gap: 0.2rem;
}

.localPost span {
    color: white;
    font-weight: 100;
}

.localPost img {
    height: 15px;
}

.descPost{
    display: flex;
    margin-top: 2.2vh;
}

.descPost span{
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 23px;
    color: #FFFFFF;
}

.imgPost{
    margin-top: 10px;
}

.imgPost img{
    width: 100%;
    height: 100%;
}

.like{
    display: flex;
    margin-top: 1vh;
}

.like img{
    height: 33px;
}
.like p{
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 24px;
    color: #FFFFFF;
    padding-left: 1vh;
    padding-top: 0.4vh;
}

.comment{
    display: flex;
    margin-top: 1.3vh;
}

.comment p{
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 24px;
    color: #FFFFFF;
    padding-left: 1vh;
}

.comment img{
    height: 33px;
}

.interationUser{
    display: flex;
    gap: 80px;
}

#imgRoda{
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 2vh;
}

#cardPost {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    border-radius: 15px;
    position: absolute;
    height: 70%;
    width: 39%;
    border: 2px solid #575757;
    background-color: #3B3A3A;
    padding: 2rem;
}

#cardPost img {
    margin-bottom: 1rem;
}

#cardPost input {
    background-color: #373333;
    border: none;
    margin-bottom: 1.5rem;
    border-radius: 30px;
    padding-left: 1.5rem;
    font-size: 1.5rem;
    color: white;
}

#cardPost #inputTextoPost{
    height: 18rem;
    padding-bottom: 13rem;
}

#cardPost #inputImagemPost{
    height: 4rem;
}

#cardPost #inputLocationPost{
    height: 4rem;
}

#cardPost #divBotao {
    width: 100%;
    display: flex;
    justify-content: end;
}

#divBotao #botaoPostar {
    margin-top: 0.5rem;
    border-radius: 7px;
    background-color: #EF3E58;
    color: white;
    padding: 0.5rem 2.5rem 0.5rem 2.5rem;
    border: none;
    font-size: 1rem;
}
