* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #212121;
}
header img {
    height: 4rem;
    margin: 1rem;
}

main {
    width: 100vw;
    height: calc(100vh - 8rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardLogin {
    font-family: "Roboto", sans-serif;
    background-color: #3B3A3A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 26rem;
    border-radius: 10px;
}

.cardLogin img {
    height: 8rem;
    margin-top: 2rem;
}

.cardLogin h1 {
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 1.5rem;
    margin-top: 2rem;
    font-weight: 400;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form a{
    width: 100%;
}

form button{
    width: 93%;
}

.cardLogin input {
    width: 90%;
    height: 3.5rem;
    margin-top: 1.5rem;
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 5px;
    border: 1px solid #5f5f5f;
    background-color: #373333;
    color: white;
    font-weight: 500;
}

.contaPremium {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 4rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
    gap: 3rem;
}

.contaPremium #checkbox {
    margin: 0;
    height: 2rem;
    width: 2rem;
}

.cardLogin .voltaLogin {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4E4E4E;
} 

.cardLogin a {
    margin: 0.5rem;
    color: white;
    font-size: 1.25rem;
    font-weight: 200;
    text-decoration: none;
}

.cardLogin button {
    padding: 0.5rem 3.25rem;
    border-radius: 15px;
    border: none;
    margin: 1rem;
    background-color: #EF3E58;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    margin-top: 1rem;
}


.cardLogin button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.linhaReparticao {
    display: flex;
    align-items: center;
    width: 90%;
    gap: 0.5rem;
    margin: 5px 0px 5px 0px;
}

.linhaReparticao hr {
    flex: 1; 
    height: 0.5px;
    border: none;
    background-color: white;
}

.linhaReparticao span {
    color: white;
    font-size: 0.8rem;
}

.pageCadastro p{
    font-family: "Roboto", sans-serif;
    text-decoration: underline;
    font-weight: 300;
    font-size: 22px;
}

h2{
    text-align: center;
    width: 240px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 19px;
    color: white;
}
